.movie-details-contanier {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 24px;
  border: 1px solid red;
}

.movie-details-card {
  padding: 10px;
  border: 1px solid blue;
}

.img-container {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid yellow;
}

.img-container img {
  width: 100%;
}

.title-year-subtitle-container {
  font-weight: bold;
  letter-spacing: -0.015em;
  border: 1px solid green;
}

.title-year-subtitle-container h1 {
  font-size: 20px;
  color: #FFFFFF;
}

.title-year-subtitle-container h6 {
  font-size: 16px;
  color: #FFC700;
}

.title-year-subtitle-container p {
  font-weight: normal;
  font-size: 14px;  
  color: #FFFFFF;
}

.movie-synopsis-container {
  padding: 13px 13px 5px 10px;
  border: 1px solid #E1E1E1;
  border-radius: 10px;  
}

.movie-synopsis-container p {
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}

.review-content-contanier {
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 18px;
}

.listing-content-contanier {
  padding: 15px 10px;
}

@media (min-width: 576px) {
  .movie-details-contanier {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .movie-details-contanier {
    padding: 40px;
  }
}
